<h1>Best Restaurant</h1>
<hr>

<h2>Edit item: @Model["cuisine"].GetTypeOfFood()</h2>

<form action="/restaurants/@Model["restaurant"].GetId()/cuisines/@Model["cuisine"].GetId()" method="post">
  <label for="newType">Name:</label>
  <input type="text" name="newType" value="@Model["cuisine"].GetTypeOfFood()">
  <button type="submit">Edit</button>
</form>

<h4><a href="/restaurants/@Model["restaurant"].GetId()/cuisines/@Model["cuisine"].GetId()">Return to previous page</a></h4>
