<h1>Cuisine Details: </h1>

<h2>@Model["cuisine"].GetTypeOfFood()</h2>
<h3>Restaurant: @Model["restaurant"].GetName()</h3>

<a href='/restaurants/@Model["restaurant"].GetId()/cuisines/@Model["cuisine"].GetId()/edit'>Edit this Cuisine</a><br>
<a href='/restaurants/@Model["restaurant"].GetId()/cuisines/new'>Add another item</a>
<form action="/restaurants/@Model["restaurant"].GetId()/cuisines/@Model["cuisine"].GetId()/delete" method="post">
  <button type="submit">Delete this cuisine</button>
</form>
<a href='/restaurants'>View all Restaurants</a>
