<h1>Add a new item to @Model.GetName()</h1>

<form action='/restaurants/@Model.GetId()/cuisines' method='post'>
  <input id='restaurantId' name='restaurantId' type='hidden' value='@Model.GetId()'>
  <label for='cuisineFood'>Item description</label>
  <input id='cuisineFood' name='cuisineFood' type='text'>
  <button type='submit'>Add Cuisine</button>
</form>
