@{
  Layout = "_Layout";
}
<div class="container">
<div class="jumbotron">
<h1>Hair Salon</h1>
</div>
<h1>Your specialty list has been cleared!</h1>
<p><a href="/specialties">Back to specialties list.</a></p>
</div>
