@{
  Layout = "_Layout";
}
<div class="container">
<div class="jumbotron">
<h1>Hair Salon</h1>
</div>
<h1>Add a new specialty</h1>

<form action='/specialties' method='post'>

  <label for='newSpecialtyName'>Specialty Name: </label>
  <input id='newSpecialtyName' name='newSpecialtyName' type='text' required>
  <br><br>
  <button type='submit'>Add Specialty</button>
</form>

<p><a href="/specialties">View all specialties</a></p>
<p><a href="/">Back home</a></p>
</div>
