@{
  Layout = "_Layout";
}
<div class="container">
<div class="jumbotron">
<h1>Hair Salon</h1>
</div>
<h3><a href='/stylists'>View All Stylists</a></h3>
<h3><a href='/clients'>View All Clients</a></h3>
<h3><a href='/specialties'>View All Specialties</a></h3>
<h3><a href='/stylists/new'>Add A New Stylist</a></h3>
<h3><a href='/clients/new'>Add A New Client</a></h3>
<h3><a href='/specialties/new'>Add A New Specialty</a></h3>
</div>
