@{
  Layout = "_Layout";
}
<div class="container">
<div class="jumbotron">
<h1>Hair Salon</h1>
</div>
<h1>Your client list has been cleared!</h1>
<p><a href="/clients">Back to clients list.</a></p>
</div>
