@{
  Layout = "_Layout";
}
<div class="container">
<div class="jumbotron">
<h1>Hair Salon</h1>
</div>

<h2>Clients List: </h2>

@if (Model.Count != 0)
{
    <ul>
    @foreach (var client in Model)
    {
        <li><a href='/clients/@client.GetId()'>@client.GetName()</a></li>
    }
    </ul>
}

<h4><a href="/clients/new">Add new client</a></h4>
<form action="/clients/deleteall" method="post">
  <button type="submit">Delete all clients</button>
</form>
<h4><a href="/stylists">View all stylists</a></h4>
<h4><a href="/specialties">View all specialties</a></h4>
<h4><a href="/">Return home</a></h4>
</div>
