<h1>Add a new client</h1>

<form action='/clients' method='post'>

  <label for='newClientName'>Client Name: </label>
  <input id='newClientName' name='newClientName' type='text' required>
  <br><br>
  <label for='newClientPhone'>Client Phone: </label>
  <input id='newClientPhone' name='newClientPhone' type='text' required>
  <br><br>
  <button type='submit'>Add Client</button>
</form>

<p><a href="/clients">View all clients</a></p>
<p><a href="/">Back home</a></p>
