<h1>Add a category</h1>
<p>Add a category here:</p>

<form action="/restaurants" method="post">
  <label for="restaurantName">Restaurant Name</label>
  <input id="restaurantName" name="restaurantName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/restaurants">Back to categories.</a></p>
